@font-face {
	font-family: coustard;
	src: url(fonts/Coustard-Regular.ttf);
}

body {
	font-family: coustard;
}

.navbar {
	background: #050
}

.navbar-brand img {
	border: 2px solid white;
}

.navbar-toggler-icon {
    filter: brightness(0) invert(1);
}

.nav-link {
	color: #aaa;
}

.active {
	color: white !important;
}

.carousel::after { /*VIGNETTE EFFECT TO THE CAROUSEL*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse, rgba(0,0,0,0) 30%, rgba(0,0,0,0.4) 80%);
    pointer-events: none;
}

.carousel-img {
	height: 100%;
	object-fit: cover;
}

.carousel-inner {
    height: 60vh;
}

.carousel-item {
    height: 100%;
}
