@font-face {
	font-family: coustard;
	src: url(fonts/Coustard-Regular.ttf);
}

body {
	font-family: coustard;
}

.navbar {
	background: #050
}

.navbar-brand img {
	border: 2px solid white;
}

.navbar-toggler-icon {
    filter: brightness(0) invert(1);
}

.nav-link {
	color: #aaa;
}

.active {
	color: white !important;
}
